<footer>
    <div class="footer-content">
            <p>
             <i class="fa-solid fa-swatchbook"></i>eBook | All rights reserved© <%= new Date().getFullYear() %> | Built by Manish
            </p>
        </div>
</footer>